body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    background: black;
}

html {
    background: gray;
}

nav {
    padding: 15px;
    background-color: none;
    font: 17px;
    font-family:sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

a{
    text-decoration: none;
    color: aqua;
    margin: 15px;
}

a:hover {
  color: white;
}

section {
    color:aqua
}
